*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards{
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    max-width: 100%;
    text-align: center;
    grid-row-gap: 10px;

}
.cards img{
    width: 90%;
    height: 90%;
}
.card{
    position: relative;
}
.card p{
    position: absolute;
}
.card::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    background: #8e44ad;
}